/* 초기설정 */
* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.checked {
  text-decoration: line-through;
}

/* 헤더 */
#main-header {
  display: flex;
}

#main-header > #title {
  width: fit-content;
  margin: 0 auto;
}

#main-header > #signup {
  display: absolute;
  float: right;
}

#main-header > #signup:hover {
  color: blue;
  cursor: pointer;
}

/* 본문 */

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content section {
}
