/* 초기설정 */
* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.checked {
  text-decoration: line-through;
}

/* 헤더 */
#main-header {
  display: flex;
}

#main-header > #title {
  margin: 0 auto;
}

/* 본문 */
#main-section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#main-section > #login-form {
  margin: auto;
  align-items: center;
}

#login-form > button {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  background: none;
}
