#signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signup-form > h3 {
  margin-bottom: 20px;
}
/* ID,PW, 버튼 정렬 */
#signup-form div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#signup-form .id,
#signup-form .pw {
  width: 100%;
}

#signup-form .pw > label {
  margin-right: 5px;
}

#signup-form button {
  width: 100%;
  justify-content: space-around;
}

#signup-form button {
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px white solid;
  background: none;
}
